<nav class="navbar">
    <div class="nav-container">
        <a href="{% url 'core:home' %}" class="logo">SURGITECH</a>
        <ul class="nav-links">
            <li><a href="{% url 'core:home' %}">Home</a></li>
            <li><a href="{% url 'products:product_list' %}">Products</a></li>
            <li><a href="{% url 'blog:list' %}">Blog</a></li>
            <li><a href="{% url 'core:about' %}">About</a></li>
            <li><a href="{% url 'core:contact' %}">Contact</a></li>
        </ul>
    </div>
</nav>
